target/
lib_managed/
src_managed/
project/boot/
.cache
# User-specific stuff:
.idea/
*.iws

.serverless/

/out/

.idea_modules/


com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.class
*.log

.lib/
dist/*
project/target
project/plugins/project/


.ensime
.ensime_cache/
.scala_dependencies
.worksheet

node_modules/