service: alexa-whats-on

frameworkVersion: ">=1.2.0 <2.0.0"

provider:
  name: aws
  runtime: java8
  region: eu-west-1
  stage: production
  tracing: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource:
        - "*"

package:
  artifact: alexa-whats-on.jar

functions:
  whats-on:
    handler: io.igu.whatson.WhatsOnRequestStreamHandler
    events:
      - alexaSkill: amzn1.ask.skill.00a85479-b70f-4dbf-a963-4cf6bf1b5e5f

custom:
  alexa:
    vendorId: ${env:AMAZON_VENDOR_ID}
    clientId: ${env:AMAZON_CLIENT_ID}
    clientSecret: ${env:AMAZON_CLIENT_SECRET}
    skills:
      - id: amzn1.ask.skill.00a85479-b70f-4dbf-a963-4cf6bf1b5e5f
        skillManifest:
          publishingInformation:
            locales:
              en-US:
                name: test2
          apis:
            custom: {}
          manifestVersion: '1.0'
        models:
          en-US:
            interactionModel:
              languageModel:
                invocationName: hello
                intents:
                  - name: AMAZON.CancelIntent
                    samples: []
                  - name: AMAZON.HelpIntent
                    samples: []
                  - name: AMAZON.StopIntent
                    samples: []
                  - name: HelloWorldIntent
                    samples:
                    - hello
                    - say hello
                    - hello world

plugins:
  - serverless-plugin-tracing
